// Nota: intente añadir mas cosas la barra de navegación, pero no me gusto como quedaba, asi que decidi mantenerlo simple


// Variables storage 
$color-black: #070600;
$color-green: #00FF00;
$color-green-hover: #00bb00;
$color-white: #f7f7ff;
$color-white-hover: #a3a3a3;

$breakPoint-mobile: 320px;
$breakPoint-tablet: 768px;
// Variables storage

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// navbar start
.navBar {
    padding: 45px 0px 15px 0px;
    width: 100%;
    background-color: $color-black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 18px;
}

.navBarLogo {
    color: $color-green;
}

.navBarLogo:hover {
    color: $color-green-hover;
}

.navBarLogo span {
    color: $color-white;
}

.navBarLogo span:hover {
    color: $color-white-hover;
}

.navBarList {
    display: flex;
}

.navBarListObj {
    padding: 0px 15px 0px 15px;
    color: $color-green;
}

.navBarListObj:hover {
    color: $color-green-hover;
}

.navBarContact {
    background-color: $color-green;
    color: $color-black;
    font-size: 18px;
    border-radius: 14px;
    padding: 2px 12px 2px 12px;
}

.navBarContact:hover {
    background-color: $color-green-hover;
}

// navbar end 

//indexbody start 
.indexBody {
    background-image: url(images/index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-black;
}

.cardContainter {
    display: flex;
    justify-content: space-around;
    padding: 100px 0px 30px 0px;
    flex-wrap: wrap;
}

.card {
    display: inline-block;
    color: $color-green ;
    background-color: $color-black ;
    border: solid 2px $color-green;
    width: 262px;
    height: 652px;
    padding: 10px;
    text-align: center;
}

.card h1 {
    color: $color-white;
}

// indexbody end 

// comprarBody start

.comprarBody{
    background-color: $color-black;
    background-image: url(images/comprar.jpg);
    background-position: center;
    background-repeat: repeat;
}

.itemsContainter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0px 50px 0px;
}

.objListing{
    display: inline-block;
    color:$color-green;
    background-color:$color-black;
    border: solid 4px $color-green;
    width: 13rem;
    height: 380px;
    padding: 8px;
    overflow: hidden;
}

.objListing img{
    padding: 5px 5px 10px 5px;
}

.objListingText{
    padding: 5px 0px 5px 0px;
}

.objlisting-button{
    background-color: $color-green;
    margin-top: 10px;
    padding: 1px;
    color: $color-black;
    border-radius: 10px;
    font-size: 16px;
}

.objlisting-button:hover{
    background-color: $color-green-hover;
}
//comprarBody end

//contacto start
.contactoBody{
    background-image: url(images/contactoBody\ .jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-black;
}

.form{
    border: 2px solid $color-green;
    width: 300px;
    height: 500px;
    margin:  80px auto 250px auto;
    background-color: $color-black;
}

.form h2{
    text-align: center;
    padding: 40px 0px 15px 0px;
    color: $color-green;
}

.form input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    text-align: center;
    background-color: $color-black;
    color: $color-green;
    border: 2px solid $color-green;
}

.form input:focus{
    outline: none;
}

.contactoSend{
    padding: 10px 30px;
    background-color: $color-black;
    color: $color-green;
    margin: 10px ;
    border: 2px solid $color-green;
    border-radius: 30px;
}

.contactoSend:hover{
    border: 2px solid $color-green-hover;
    color: $color-green-hover;
}

//Nosotros
.nosotrosBody{
    background-color: $color-black;
    background-image: url(images/staff.jpg);
    background-repeat: no-repeat;
    background-position: center;
}



// Footer start 
.footer {
    background-color: $color-black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px 0px 0px;
}

.footerIcons a {
    font-size: 30px;
    display: inline-block;
    color: $color-white;
    padding: 0px 5px 0px 5px;
}

.footerText {
    display: inline-block;
    color: $color-white;
    font-size: 25px;
    text-align: end;
}

.footerIcons a:hover {
    scale: 1.10;
    color: $color-white-hover;
    transition-duration: 1s;
}




// extras
.centerButton{
    display: flex;
    justify-content: center;
}

.green {
    color: $color-green !important;
}

.green:hover {
    color: $color-green-hover!important;
}

.mainText{
    margin-top: 60px;
    color: $color-green;
    text-align: center;
    font-weight: bold;
}
// Footer end 

// keyframes 